/* background: hsla(287, 100%, 81%, 1);

background: linear-gradient(180deg, hsla(287, 100%, 81%, 1) 0%, hsla(196, 100%, 73%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(287, 100%, 81%, 1) 0%, hsla(196, 100%, 73%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(287, 100%, 81%, 1) 0%, hsla(196, 100%, 73%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EAA0FF", endColorstr="#77DBFF", GradientType=1 ); */